@{
    ViewData["Title"] = "Product_Search";
}

<link href="~/css/Product_Search.css" rel="stylesheet" />


<h2>Product Search</h2>

<div class="Table-flex" id="dropdown">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" onclick="TableSetup();" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Table Number
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="Table_Numbers">
        </ul>
    </div>
    <input type="button" class="btn btn-primary " value="Add Table" onclick="AddTable();" />
</div>


<div id="Search" >
    <input type="text" placeholder="Search Product" id="Search_Product" />
    <input type="button" value="search" class="btn btn-success" onclick="search_product();" />
</div>

<div class="Product_show_flex">

    <div id="Related_Product" class="Product_show">
    </div>

    <div id="Right-section">

        <div id="Product_billing" class="Product_Bill">
            <h3>Payment</h3>
            <div id="tablenumber">
                <h6>Table Number:</h6><h6 id="Choosed-Tableresult"></h6>
            </div>
            <input type="submit" value="Hold" class="btn btn-warning" onclick="holdingOrderModal();" />
            <table id="Order_List_Table" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Sno.</th>
                        <th>ItemName</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Extras</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="flexing-box">
            <div class="Total_Amount">
            </div>

            <input type="button" class="btn btn-primary" onclick="placedOrder();" value="Order" />
        </div>
    </div>

</div>

<!--bootstrap modal for no item found-->
<div class="modal" tabindex="-1" id="No_itemModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2>No matching item found!</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!--modal for table adding-->
<div class="modal" tabindex="-1" id="AddTableModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Table</h5>
            </div>
            <div class="modal-body">
                <input type="text" id="AddedTable" class="form-control w-50" placeholder="Add Table" aria-label="Add Table" aria-describedby="basic-addon1" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="Add_Table();">Add</button>
            </div>
            <div id="DivErrorView" style="display:none;"></div>
        </div>

    </div>

</div>
<!--modal for delete order list row-->
<div class="modal" tabindex="-1" id="DeleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Ordered list</h5>
            </div>
            <div class="modal-body">
                <p>Conform want to delete the row?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="  ItemRowDelete();">Delete</button>
            </div>
        </div>

    </div>

</div>
<!--modal for holding order-->
<div class="modal" tabindex="-1" id="HoldModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hold Order</h5>
            </div>
            <div class="modal-body">
                <p>Do you want to hold the Order?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="HoldOrder();">Hold</button>
            </div>
        </div>

    </div>

</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $("#Search").hide();
    var Rowid;
    function search_product() {
        var inserted_item = $("#Search_Product").val();
   
        $.ajax({
            url: '@Url.Action("Product_Search", "Product")',
            type: 'POST',
            dataType: 'json',
            data: {
                Itemnames: inserted_item
            },
            success: function (response) {
                if (response && response.length > 0) {
                    $("#Related_Product").empty();

                    response.forEach(function (products) {
                        var Product_Container = '<div class="product-item" onclick=testorder(' + products.productId + ');>' +
                            '<div class="product-details">' +
                            '<h3>' + products.itemName + '</h3>' +
                            '<p hidden>Product ID: ' + products.productId + '</p>' +
                            '<p>Price: ' + products.price + '</p>' +
                            '</div>' +
                            '</div>';
                        $("#Related_Product").append(Product_Container);

                    })
                    $("#Search_Product").val('');
                }
                else {
                    $("#Search_Product").val('');
                    $("#No_itemModal").modal('show');
                }
            },
            error: function (xhr, error, status) {
                alert("error")
            }
        })
    }
    function testorder(productId) {
        var productsId = productId;
        $.ajax({
            url: '@Url.Action("Add_Order_into_List", "Product")',
            type: 'POST',
            dataType: 'json',
            data: {
                ProductId: productsId,
                TableId: Tblid
            },
            success: function (response) {
                var Order_List = '';
                if (response && response.length > 0) {
                    for (var i = 0; i < response.length - 1; i++) {
                        var j = 1;
                        Order_List += `
                                    <tr>
                                    <td>${j}</td>
                                    <td id="Rowid" hidden>${response[i].rowId}</td>
                                    <td id="productname">${response[i].itemName}</td>
                                    <td id="productprice">${response[i].price}</td>
                                    <td id="productquantity"> ${response[i].quantity}</td>
                                    <td id="productamount">${response[i].amount}</td>
                                    <td><div id="flexingBtn"><input type = "submit" value="Delete" onclick="showdeletemodal(${response[i].rowId});" class="btn btn-danger"/> <button id="decrement" onclick="decrement('substract',1,${response[i].rowId},${response[i].productId},${response[i].quantity});">-</button><button onclick="decrement('add',1,${response[i].rowId},${response[i].productId},${response[i].quantity});">+</button></div></td>
                                    </tr> `;

                        if (response[response.length - 1].totalAmount) {
                            $(".Total_Amount").html('<h5 id="totalAmount"> Total Amount =  ' + response[response.length - 1].totalAmount + '</h5>');

                        }
                        j++;
                    }
                    $("#Order_List_Table tbody").html(Order_List);
                }
                else {
                    alert("error fetching bill");
                }
            },
            error: function (xhr, status, error) {
                alert("error");
            }


        })
    }
    function TableSetup() {
        $.ajax({
            url: '@Url.Action("Table_Number", "TableSetup")',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                if (response && response.length > 0) {
                    var Table_List = '';
                    for (var i = 0; i < response.length; i++) {
                        Table_List += '<li class="dropdown-item" onclick="TableNumber(' + response[i].tableId + ');">' + response[i].tableNumber + '</li>'
                    }
                    $("#Table_Numbers").html(Table_List);
                    return;
                }
            },
            error: function (xhr, error, status) {
                alert("error while fetching table number")
            }
        })
    }
    function AddTable() {
        $("#AddTableModal").modal('show');
    }
    function Add_Table() {
        var AddedTable = $("#AddedTable").val();
        if (AddedTable == '') {
            alert("Enter the table")
        }
        else {
            $.ajax({
                url: '@Url.Action("Add_Table", "TableSetup")',
                type: 'POST',
                dataType: 'json',
                data: {
                    tablename: AddedTable
                },
                success: function (response) {
                    if (response.code == 0) {
                        $("#AddedTable").val('');
                        document.getElementById('DivErrorView').style.display = 'block';
                        $("#DivErrorView").html('<div class="alert alert-danger">Table already exist.</div>');
                        $("#DivErrorView").show();
                        $('#DivErrorView').delay(1500).slideUp();
                    }
                    else {
                        $("#AddedTable").val('');
                        document.getElementById('DivErrorView').style.display = 'block';
                        $("#DivErrorView").html('<div class="alert alert-success">Added Successfully.</div>');
                        $("#DivErrorView").show();
                        $('#DivErrorView').delay(1500).slideUp();
                    }

                },
                error: function (xhr, status, error) {
                    $("#DivErrorView").html('<div class="alert alert-danger">Error Found While Adding Records.</div>');
                    $("#DivErrorView").show();
                    $('#DivErrorView').delay(1500).slideUp();
                }
            })
        }
    }
    var Tblid;
    function TableNumber(TableIds) {
        Tblid = TableIds
        $.ajax({
            url: '@Url.Action("Fetcing_TablenumByID", "TableSetup")',
            type: 'POST',
            dataType: 'json',
            data: {
                Tableid: Tblid
            },
            success: function (response) {
                if (response) {
                    var tableNumbers='';
                    for (var i = 0; i < response.length; i++) {
                        tableNumbers += response[i].tableNumber;
                    }
                    $("#Search").show();
                    $("#Choosed-Tableresult").html(tableNumbers);
                    $("#dropdown").hide();
                    
                }
                else {
                    alert("unable to fetch tablenumber")
                }
            },
            error: function (xhr, error, status) {
                alert("error")
            }
        })
    }
    function decrement(cmd, quantity, rowId, productId,Quantity) {

        if (Quantity <= 1) {
            return;
        }
        if (cmd == 'substract') {
            quantity = -1;
        }
        $.ajax({
            url: '@Url.Action("UpdateQuantity", "Product")',
            type: 'POST',
            dataType: 'json',
            data: {
                Quantity: quantity,
                RowId: rowId,
                ProductId: productId,
                TableId: Tblid
            },
            success: function (response) {

                if (response) {
                    testorder();
                }
                else {
                    alert("unable to update")
                }
            },
            error: function (xhr, status, error) {
                alert("errorrrr")
            }

        })


    }
    function showdeletemodal(rowid) {
        Rowid = rowid
        $("#DeleteModal").modal('show');
    }
    function ItemRowDelete() {

        $.ajax({
            url: '@Url.Action("DeleteItemRow","Product")',
            type: 'POST',
            dataType: 'json',
            data: {
                Rowid: Rowid
            },
            success: function (response) {
                if (response) {
                    $("#DeleteModal").modal('hide');
                    testorder();
                }
                else {
                    alert("error while deleting item")
                }
            },
            error: function (xhr, status, error) {
                alert("errorr")
            }
        })
    }
    function holdingOrderModal() {
        $("#HoldModal").modal('show')
    }
    function HoldOrder() {
        $("#HoldModal").modal('hide')
        location.reload();
    }
</script>